html { 
	font-family: Helvetica; 
	display: inline-block; 
	margin: 0px auto;
}
body {
	margin-top: 50px;
}
h1 {
	margin: 30px auto 30px;
	text-align: center;
}
h3 {
	margin-left: 10px;
}
p {
	font-size: 14px;
	margin-bottom: 10px;
	text-align: center;
}
td {
	border: 1px solid black;
	padding: 10px 15px;
}
table {
	border-collapse: collapse;
	margin: auto;
}
.ligne-impaire{
    background-color: #BBB;
}
.ligne-paire{
    background-color: #EEE;
}
form {
	text-align: center;
}